* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, rgb(249, 249, 249), rgb(43, 44, 46));
}

.contact {
    width: 800px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.contact1 {
    background: linear-gradient(to left, rgb(108, 8, 247), rgba(3, 88, 162, 0.968));

    height: 400px;
    width: 350px;
    transform: translateX(-40%);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* margin-top: 400px; */
    gap: 30px;
    color: rgb(206, 206, 206);
    padding-left: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45),
        inset 3px 3px 7px rgba(255, 255, 255, 0.55),
        inset -3px -3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* flex-grow: 1; */
}

.contact1 ion-icon {
    font-size: 24px;
    /* display:inline-block;
    /* height:40px; */

    width: 40px;
    color: #fafafa;

}

.info {
    margin-top: 30px;
    font-weight: 600;
    padding-left: 10px;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: white;
}

.icon ion-icon {
    font-size: 20px;
    width: 25px;
    color: #d2d2d2;
}

.iconin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon1 {
    display: flex;

}

.contact2 {
    /* flex-grow: 2; */
    height: 100%;
    width: 550px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    justify-content: space-around;
    transform: translateX(-20%);
}

.contact .name {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 200;


}

.contact input {
    height: 40px;
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    color: rgb(28, 26, 26);
    text-decoration: none;
    /* padding-left: 15px; */

}

.contact input:valid~.placeholder,
.contact input:focus~placeholder {
    top: -50px;
    font-size: 12px;
    color: blue;
}

.contact input::placeholder {
    color: #999;
    text-transform: capitalize;
    word-spacing: 2px;
    padding: 5px;
    font-size: 17px;
    font-weight: 600;
    background-color: white;
}

.contact .email {
    display: flex;
    justify-content: space-evenly;

}

.msg {
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    text-decoration: none;

}

.msg textarea {
    outline: none;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #999;
    font-weight: 200;
    font-size: 17px;
    color: #333;

}

.msg textarea::placeholder {
    font-size: 17px;
    font-weight: 600;

    color: #999;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 2px;
    /* padding-left: 20px; */

}

.submit1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    height: 30px;
}

.submit1 button {
    font-size: 17px;
    padding: 10px;
    width: 300px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(145deg, rgb(59, 100, 206), rgb(6, 106, 255));
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    letter-spacing: 2px;



}

.send {
    font-size: 25px;
    padding-left: 40px;
    /* width: 300px; */
    /* background: linear-gradient(145deg, rgb(59, 100, 206),rgb(9, 41, 123)); */
    font-family: sans-serif;
    color: rgb(15, 48, 218);
    font-weight: 600;
    border: none;
    border-radius: 8px;
    letter-spacing: .1px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    align-items: flex-end;
    height: 50px;
    word-spacing: px;
}

.home {
    position: fixed;
    font-size: 31px;
    top: 10px;
    left: 10px;
    /* padding-left: 30px; */
    width: 100px;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(145deg, rgb(0, 0, 0), rgb(32, 45, 77));
    color: rgb(237, 237, 237);
    font-weight: 600;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: center;

    height: 40px;
}

@media (max-width:1177px) {
    .contact {
        flex-direction: column;
        height: 110vh;
        width: 550px;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }

    .contact1 {
        transform: translateX(0)translateY(-40%);
        width: 450px;
        gap: 9px;
        font-size: 15px;

        /* height: 800px; */
        
    }

    .contact1 ion-icon {
        width: 30px;
        height: 20px;
    }

    .contact1 .info {
        margin-top: 10px;

    }

    .contact2 {
        transform: translateX(0)translateY(-20%);
        height: 800px;
        gap: 20px;
        justify-content: space-between;

    }

    .contact2 .send {
        color: rgba(0, 115, 255, 0.897);
    }

}

@media (max-width:910px) {
    .contact {
        margin-top: 15%;
    }

}

@media (max-width:650px) {
    .contact {
        margin-top: 20%;
    }
}

@media (max-width:399px) {
    .contact {
        width: 300px;
        height: 100vh;
        margin-top: 30%;
    }

    .contact1 {
        width: 200px;
        height: 200px;
        gap: 5px;
        font-size: 17px;
        transform: translateY(-50%);
    }

    .contact1 ion-icon {
        width: 25px;
        height: 20px;
    }

    .contact2 {
        justify-content: flex-start;
        gap: 20px;
        width: 200px;
        height: 400px;
        transform: translateY(-15%);
    }

    .contact2 .name {
        flex-direction: column;
        align-items: center;
        height: 100px;
        width: 150;
    }

    .contact2 .email {
        flex-direction: column;
        align-items: center;
        /* gap: 20px; */
        height: 100px;
    }

    .contact input {
        width: 300px;
    }

    .contact2 textarea {
        width: 300px;
    }
}

@media (max-width:610px) {
    .contact {
        width: 400px;
        height: 100vh;
        margin-top: 30%;
    }

    .contact1 {
        width: 350px;
        height: 250px;
        gap: 5px;
        font-size: 17px;
        transform: translateY(-50%);
    }

    .contact1 ion-icon {
        width: 30px;
        height: 20px;
    }

    .contact2 {
        justify-content: flex-start;
        gap: 20px;
        width: 400px;
        height: 500px;
        transform: translateY(-15%);
    }

    .contact2 .name {
        flex-direction: column;
        align-items: center;
        height: 100px;
    }

    .contact2 .email {
        flex-direction: column;
        align-items: center;
        /* gap: 20px; */
        height: 100px;
    }

    .contact input {
        width: 300px;
    }

    .contact2 textarea {
        width: 300px;
    }
}