@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: black;
  /* background: linear-gradient(90deg, #060b11, #030e10); */

  /* color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 900px 700px 800px 600px;
  grid-gap: 100px; */
}

nav {
  position: relative;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: grid;
  grid-template-columns: .3fr .3fr 2fr 1fr;
  height: 60px;
  background: #0088a9;
  background: black;
  box-shadow:
    -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  /* ,
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
} */
}

nav menu {
  height: 40px;
  place-self: center;
  width: 40px;
}

nav menu ion-icon {
  /* display: none; */
  color: rgb(255, 255, 255);
  font-size: 0em;
  font-weight: 600;
}

#toggle.active {
  color: rgb(255, 255, 255);
  /* transform: scale(1.1); */
}

#toggle:hover {
  /* transform: scale(1.1); */

}

/* nav h1{
    position: absolute;
    color: white;
    line-height: 60px;
    font-size: 1.7em;
    background: linear-gradient(90deg,#755bea ,#ff72c0);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 6px 6px;
    
} */
nav h1 span:nth-child(1) {
  font-size: 1.6em;
  position: relative;
  color: white;
  top: 0px;
  background: linear-gradient(to left, #10bfff, #1b73f7);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Lora', serif;
  font-weight: 600;

  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  outline: none;
  animation: blinck 5s linear infinite;


}

@keyframes blinck {
  0%, 18%, 20%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: rgb(5, 49, 79);
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #ffffff;
    text-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 60px #03bcf4,
      0 0 100px #03bcf4;
  }

}

@keyframes blincks {
  0%, 18%, 20%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: rgb(79, 5, 79);
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #ff72c0,
      0 0 20px #ff72c0,
      0 0 40px #ff72c0,
      0 0 60px #ff72c0,
      0 0 100px #ff72c0;
  }
}

@keyframes blinckss {
  0%, 18%, 20%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: rgb(5, 16, 79);
    text-shadow: none;
  }

  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #8072ff,
      0 0 20px #8072ff,
      0 0 40px #8072ff,
      0 0 60px #8072ff,
      0 0 100px #8072ff;
  }
}

nav h1 span:nth-child(2) {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 1.6em;
  position: relative;
  color: white;
  background: linear-gradient(90deg, #ea5bc6, #ff72c0);
  -webkit-background-clip: text;
  color: transparent;
  top: 10px;
  left: -6px;
  animation: blincks 5s linear infinite;


}

nav h1 span:nth-child(3) {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 1.3em;
  position: relative;
  color: white;
  background: linear-gradient(90deg, #ea5bc6, #ff72c0);
  -webkit-background-clip: text;
  color: transparent;
  top: 5px;
  left: -6px;
  animation: blinckss 5s linear infinite;


}

nav h1 span:nth-child(4) {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 1.7em;
  position: relative;
  color: white;
  background: linear-gradient(90deg, #ea5bc6, #ff72c0);
  -webkit-background-clip: text;
  color: transparent;
  top: 5px;
  left: -4px;
  animation: blincks 5s linear infinite;


}

/* nav h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotatex(180deg);
    line-height: 1.121em;
    background: linear-gradient(0deg,#0162c8 1%,#55e7fc, transparent 60%);
    -webkit-background-clip: text;
    color: transparent;

} */
/* nav .logo {
    height: 50px;
    width: 22vw;
    line-height: 70px;
    min-width: 250px;
} */

nav .logo img {
  height: 100%;
  line-height: 60px;
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
  text-align: center;

}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  height: 100%;
  line-height: 60px;
  color: white;
}

ul li a {
  font-family: 'Lora', serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: .3em .5em;
  /* background: linear-gradient(to left, rgb(165, 87, 77), rgb(226, 58, 28)); */
  font-size: 1.2em;
  font-weight: 600;
  /* border: 1px solid blue; */
  border-radius: 4px;
}

ul li a.active {
  /* display: block; */
  /* border: 1px solid white; */
  padding: .2em .7em;
  /* height: 30px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* position: relative; */
  border-radius: 40px;
  color: white;
  /* top: 15px; */
  background: linear-gradient(90deg, #0162c8, #18c0da);
  /* background: #000; */
  /* box-shadow: 
     -15px -15px 15px rgba(255, 255, 255, 0.2),
     15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1); */


}

/* ul li:hover{
    background: linear-gradient(90deg,#18c0da,#0162c8);

} */
/* nav ul li a::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotatex(180deg);
    line-height: 1.531em;
    background: linear-gradient(0deg,#fff 0,transparent 60%);
    -webkit-background-clip: text;
    color: transparent;

} */

/* search bar */
.search {
  place-self: center;
}

#searchicon {
  display: none;
}

/* #chack{
    display: none;
} */
.box {
  width: 15vw;
  position: relative;
  background: rgba(255, 255, 255, 0);
  height: 30px;
  right: 5px;
  min-width: 150px;


}

.search-box {
  position: relative;
  background: rgb(109, 103, 103);
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.search-box input {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  background: rgb(220, 231, 231);
  position: absolute;
  padding-left: 20px;
  border-radius: 5px;
}

/* #chack:checked ~ .search-box{
    width: 210px;
} */
.search-box .icon {
  position: absolute;
  right: 0;
  border-radius: 5px;
  padding: 4px;
  padding-left: 6px;
  font-weight: 600;
  height: 100%;
  color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  width: 35px;
  font-size: 1.31em;
  background: rgb(211, 28, 28);
  background: linear-gradient(90deg, #0162c8, #18c0da);

}

.search-box .icon:hover {
  background: rgb(248, 2, 2);
  background: linear-gradient(90deg, #18c0da, #0162c8);
  background: linear-gradient(90deg, #0162c8 4%, #18c0da 90%);



}

.search-box input:hover {
  background: white;
}


a.active {
  color: blue;
}

@media (max-width:800px) {
  nav {
    grid-template-columns: .3fr 2fr 1fr;
  }

  menu {
    background: linear-gradient(90deg, #0162c8, #18c0da);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;

  }

  .logo {
    place-self: center;
  }

  nav menu ion-icon {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 600;
  }

  nav ul {
    transition: 1s;
    display: none;
  }

  nav ul.active {
    transition: 1s;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    transition: 1s;
    width: 100%;
    /* height: 100vh; */
    /* align-items: center; */
    /* justify-content: center; */
  }

  nav ul li {
    height: 100px;
  }

  nav ul li a {
    color: black;
  }

  #toggle {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: bolder;




  }


}

@media (max-width:770px) {
  nav {
    grid-template-columns: .3fr 2fr .3fr;
  }

  .logo {
    place-self: center;
  }

  .logo.img {
    width: 700px;
  }

  #searchbox {
    display: none;
  }

  #searchbox.active {
    display: block;
  }

  .search .box {
    /* display: none; */
    position: fixed;
    right: 10px;
    top: 70px;
  }

  .search {
    background: white;
    background: linear-gradient(90deg, #0162c8, #18c0da);
    /* border-radius: 5px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #searchicon {
    display: block;
    /* position: absolute; */
    /* right: 0; */
    /* border-radius: 5px; */
    padding: 7px;
    /* padding: 6px; */
    font-weight: 600;
    /* height: 100%; */
    color: rgb(255, 255, 255);
    /* border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; */

    width: 25px;
    height: 25px;
    cursor: pointer;
    /* font-size: 1.3em; */
    background: rgba(28, 159, 211, 0);
    display: flex;
    align-items: center;
    justify-content: center;

  }


  #searchicon.active {
    /* color: rgb(71, 32, 211); */
    transform: scale(1.1);
  }

  #searchicon:hover {
    transform: scale(1.1);
  }
}

/* nev ber end here------------------------------------------------------------------------------------------------------------- */
/* section start heare */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
} */
section {
  position: relative;
  top: 60px;
}

.section {
  /* position: relative; */
  display: flex;
  z-index: 100;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: black; */
}

.section .image {
  position: relative;
}

section img {
  position: absolute;
  opacity: .1;
  z-index: 0;
  width: 100%;
  height: 100vh;
}


.section aside {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  padding-left: 2%;
  padding-right: 1%;
  /* margin-left: 2%; */
}

.section aside h2 {
  font-size: 2.3em;
  width: 60%;
  font-family: 'Lora', serif;
  word-wrap: break-word;

  color: rgb(255, 255, 255);
  text-transform: capitalize;
  /* background: linear-gradient(90deg, #007bff 1%, #05deff 99%); */
  background: linear-gradient(to left, #03d1ff, #0471ff);
  font-weight: 600;

  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

aside h2::first-letter {
  font-size: 1.7em;
}

aside p::first-letter {
  font-size: 1.3em;
}

aside h3::first-letter {
  font-size: 1.3em;
}

aside h1 {
  font-family: 'Lora', serif;
  /* text-shadow: 2px 1px 2px rgba(34, 194, 230, 0.755); */

  font-size: 3em;
  color: rgb(253, 249, 255);
  text-transform: capitalize;
  width: 90%;
  background: linear-gradient(to left, #0162c8, #18c0da);

  -webkit-background-clip: text;
  color: transparent;
}

aside h3 {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

aside span {
  color: cyan;
  font-size: 1.8em;
}

aside p {
  color: #aaa;
  font-size: 0.95em;
  transition: all 1s;
}

aside button {
  color: rgb(255, 255, 255);
  width: 100px;
  font-size: .81em;
  height: 30px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;

  opacity: 0.8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* margin-left: 50px; */
  margin-top: 10px;
  background: linear-gradient(135deg, rgb(104, 4, 130), red);
  background: linear-gradient(90deg, #0162c8, #18c0da);

  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 3px 3px 7px rgba(255, 255, 255, 0.25),
    inset -3px -3px 10px rgba(0, 0, 0, 0.5); */
}

aside button:hover {
  opacity: 1;
  width: 102px;
}

.change::after {
  content: '"Nursery to 12th"';
  animation: change 20s infinite linear;
}

@keyframes change {
  0% {
    content: '"Nursery"';
  }

  6% {
    content: '"LKG"';
  }

  12% {
    content: '"UKG"';
  }

  18% {
    content: '"1st"';
  }

  24% {
    content: '"2nd"';
  }

  30% {
    content: '"3rd"';
  }

  36% {
    content: '"4th"';
  }

  42% {
    content: '"5th"';
  }

  48% {
    content: '"6th"';
  }

  54% {
    content: '"7th"';
  }

  60% {
    content: '"8th"';
  }

  66% {
    content: '"9th"';
  }

  72% {
    content: '"10th"';
  }

  78% {
    content: '"11th"';
  }

  84% {
    content: '"12th"';
  }
}

.section form {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 1%;
  padding-right: 1%;
  background: none;

}

.section form fieldset {
  position: relative;
  /* position: absolute; */
  background: linear-gradient(138deg, rgb(235, 5, 5), rgb(33, 42, 147));
  background: linear-gradient(15deg, #18c0da, #0161c8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;

  /* position: relative; */

  /* padding: 30px 30px 30px 35px; */
  width: 70%;
  min-width: 350px;
  min-height: 300Px;
  max-height: 450px;
  max-width: 400px;

  height: 75%;
  border-radius: 20px;
  /* -webkit-background-clip: text;
  color: transparent; */
  transition: 1s;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 3px 3px 7px rgba(255, 255, 255, 0.25),
    inset -3px -3px 10px rgba(0, 0, 0, 0.25); */
  /* background: #ffffff10; */
  /* backdrop-filter: blur(12px); */
  /* -webkit-backdrop-filter: blur(12px); */
}

fieldset:hover {
  opacity: 0.9;
  background: linear-gradient(138deg, rgb(162, 22, 158), rgb(235, 143, 5));
  background: linear-gradient(90deg, #0162c8, #18c0da);

}

.section form input {
  padding: 3%;
  border: none;

  width: 75%;
  /* margin: 5px; */
  border-radius: 20px;
  background-color: white;
  text-transform: uppercase;
  color: blueviolet;
  font-weight: bold;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 3px 3px 7px rgba(255, 255, 255, 0.25),
    inset -3px -3px 10px rgba(0, 0, 0, 0.25);
}

.section form input::placeholder {
  font-size: 1em;
  font-weight: 600;
  text-transform: capitalize;
  color: #444;
  text-align: start;
  padding-left: 25px;
}

.section form input[type="submit"] {
  /* display: inline; */
  color: rgb(255, 255, 255);
  max-width: 100px;
  /* width: 100%; */

  font-size: 1.15rem;
  letter-spacing: 1px;
  padding: 5px;
  max-height: 35px;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  font-family: monospace;
  margin-left: 0px;
  /* margin-top: 15px; */
  background-color: rgb(104, 4, 130);
  background: linear-gradient(90deg, #0162c8, #18c0da);

  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 3px 3px 7px rgba(255, 255, 255, 0.25),
  
    inset -3px -3px 10px rgba(0, 0, 0, 0.5); */
}

.sub-re {
  display: flex;
  /* align-items:center; */
  flex-direction: row;

  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  background: none;
}

.section form input[type="submit"]:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 138, 36);
}

.section form input[type="reset"]:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(79, 80, 75);
}

.section form input[type="reset"] {
  color: rgb(255, 255, 255);
  max-width: 100px;
  font-size: x-large;
  padding: 5px;
  font-weight: bold;
  max-height: 35px;

  cursor: pointer;
  text-transform: capitalize;
  font-family: monospace;
  background-color: red;

  background: linear-gradient(90deg, #0162c8, #18c0da);
  /* 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 3px 3px 7px rgba(255, 255, 255, 0.25),
    inset -3px -3px 10px rgba(0, 0, 0, 0.5); */
}

.section form form input:hover {
  background-color: rgb(233, 229, 222);
  color: rgb(0, 0, 0);
  border: none;
}

/* responsiv section------- */
@media (max-width:930px) {
  .section form fieldset {

    width: 60%;
    height: 60%;
    min-width: 290px;
    /* padding: 1%; */
    min-height: 300px;
    padding: .21%;

  }

  .section form fieldset input {
    font-size: .8em;
    padding: 7px;
  }

  .sub-re {
    height: 40px;
  }

  .sub-re input {
    height: 30px;
    font-size: .3em;
  }

  .section form input[type="submit"] {
    /* display: inline; */
    color: rgb(255, 255, 255);
    max-width: 100px;
    /* width: 100%; */

    font-size: 1rem;
    letter-spacing: 1px;
    padding: 3px;
    font-family: cursive;
    max-height: 35px;
  }

  .section form input[type="reset"] {
    /* display: inline; */
    color: rgb(255, 255, 255);
    max-width: 100px;
    /* width: 100%; */

    font-size: 1rem;
    letter-spacing: 1px;
    padding: 3px;
    font-family: cursive;
    max-height: 35px;
  }

  .section aside h2 {
    font-size: 1.9em;
  }

  aside h1 {
    font-size: 2.295em;
  }

  aside h3 {
    font-size: 1.295em;
  }
}

@media (max-width:700px) {
  .section aside h2 {
    font-size: 1.7em;
  }

  aside h1 {
    font-size: 2.195em;
  }

  aside h3 {
    font-size: 1.195em;

  }

  aside p {
    font-size: .8em;
  }
}

@media (max-width:650px) {
  section {
    height: 790px;
  }

  .section {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    z-index: 100;
    gap: 3%;
    height: 750px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background: black; */
  }

  section img {
    height: 770px;
  }

  .section form {
    height: 50%;
    padding: 0;
    width: 100%;
  }

  .section form fieldset {

    width: 100%;
    height: 80%;
    min-width: 390px;
    /* padding: 1%; */
    min-height: 400px;
    padding: .21%;

  }

  .section form fieldset input {
    font-size: .8em;
    padding: 7px;
  }

  .sub-re {
    height: 40px;
  }

  .sub-re input {
    height: 30px;
    font-size: .3em;
  }

  .section form input[type="submit"] {
    /* display: inline; */
    color: rgb(255, 255, 255);
    max-width: 100px;
    /* width: 100%; */

    font-size: 1rem;
    letter-spacing: 1px;
    padding: 3px;
    font-family: cursive;
    max-height: 35px;
  }

  .section form input[type="reset"] {
    /* display: inline; */
    color: rgb(255, 255, 255);
    max-width: 100px;
    /* width: 100%; */

    font-size: 1rem;
    letter-spacing: 1px;
    padding: 3px;
    font-family: cursive;
    max-height: 35px;
  }

  .section aside {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section aside h2 {
    font-size: 2.19em;
    width: 100%;
  }

  aside h1 {
    font-size: 2.495em;
    width: 100%;

  }

  aside h3 {
    font-size: 1.295em;
    width: 100%;

  }

  aside p {
    width: 85%;
  }
}

@media (max-width:380px) {
  .section {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    z-index: 100;
    gap: 0%;
    height: 750px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background: black; */
  }

  section img {
    height: 770px;
  }

  .section form {
    height: 65%;
    padding: 0;
    width: 100%;
  }

  .section form fieldset {

    width: 70%;
    height: 60%;
    min-width: 190px;
    /* padding: 1%; */
    min-height: 200px;
    padding: .1%;

  }

  .section form fieldset input {
    font-size: .5em;
    padding: 4px;
  }

  .sub-re {
    height: 40px;
  }

  .sub-re input {
    height: 20px;
    font-size: .1em;
  }

  .section form input[type="submit"] {
    /* display: inline; */
    color: rgb(255, 255, 255);
    max-width: 70px;
    /* width: 100%; */

    font-size: .6rem;
    letter-spacing: 1px;
    padding: 2px;
    font-family: cursive;
    max-height: 35px;
  }

  .section form input[type="reset"] {
    /* display: inline; */
    color: rgb(255, 255, 255);
    max-width: 70px;
    /* width: 100%; */

    font-size: .6rem;
    letter-spacing: 1px;
    padding: 2px;
    font-family: cursive;
    max-height: 35px;
  }

  .section aside {
    width: 100%;
    height: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section aside h2 {
    font-size: 1.19em;
    width: 100%;
  }

  aside h1 {
    font-size: 1.495em;
    width: 100%;

  }

  aside h3 {
    font-size: .5295em;
    width: 100%;

  }

  .section aside p {
    width: 85%;
    font-size: .6em;
  }
}



/* section end heare--------------- */
/* middle start hear----------- */

.middle {
  position: relative;
  height: 700px;
  width: 100%;
  background: whitesmoke;
}

/* middle end hear----------- */

/* footer start------------ */
footer {
  position: relative;
  bottom: 0;
  background-color: #222;
  color: rgb(255, 255, 255);
  display: flex;
  height: 200px;
  gap: 35px;
  width: 100%;
  padding: 5px;
}

/* .footerfix
  {
    height: 400px;
  }  */
.footer {
  background-color: #222;
  width: 32%;
  padding: 20px;
  font-size: 1.2rem;
  margin-left: 30px;
}

.footer p {
  font-size: 0.8em;
  color: #aaa;
  margin-top: 5px;
}

footer .icon {
  padding: 20px 0px;
}

footer .icon ion-icon {
  padding: 0px 20px 0px 0px;
  font-size: 1.2em;
  color: #aaa;
  transition: all 0.5s;
}

footer .icon ion-icon:hover {
  padding: 0px 20px 0px 0px;
  font-size: 1.2em;
  color: rgb(236, 230, 230);
}

footer .icon1 {
  margin-top: 12px;
  height: 30px;
  color: #aaa;
  transition: all 0.5s;
}

footer .icon1:hover {
  margin-top: 12px;
  height: 30px;
  color: rgb(238, 224, 224);
}

footer span {
  display: block;
  margin-left: 35px;
  position: relative;
  top: -24px;
  /* line-height: -30px; */
  /* padding-bottom: -30px; */
  font-size: 15px;
  /* margin-bottom: 50px; */
  /* padding: 5px; */
}

footer .email {
  font-size: 15px;
  color: #aaa;
  margin-top: 5px;
}

footer .email input {
  border-radius: 3px;
  background-color: #aaa;
  outline: none;
  border: none;
  transition: all 0.5s;
}

footer .email input:hover {
  background-color: white;
}

footer textarea:hover {
  background-color: white;
}

footer textarea {
  background-color: #aaa;
  transition: all 0.5s;
}

footer button {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 60px;
  font-size: 1.01em;
  outline: none;
  border: none;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  transition: all 0.5s;

  opacity: 0.8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* margin-left: 50px; */
  /* margin-top: 10px; */
  background: rgb(0, 0, 0);
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
      inset 3px 3px 7px rgba(255, 255, 255, 0.25),
      inset -3px -3px 10px rgba(0, 0, 0, 0.5); */
}

footer button:hover {
  opacity: 1;
}

.middle {
  /* border-radius: 10px; */
  margin-top: 50px;
  height: 550px;
  background: #ffffff;
  /* background: linear-gradient(135deg,rgba(21, 87, 131, 0.315),rgba(49, 126, 228, 0.967)); */
}

.middle .middleh1 {
  margin: 0;
  top: 60px;
  width: 100%;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25),
    1px 1px 2px rgba(0, 0, 0, 0.25); */
  height: 50px;
  line-height: 50px;
  text-transform: capitalize;
  font-size: 1.9444444444em;
  position: relative;
  /* text-align: center; */
  /* left: 1em; */
  /* right: 1em; */
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(135deg, #ffffff, #000000);

  margin-left: 30px;
  margin-right: 30px;
  color: #000000;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* background: rgb(255, 255, 255); */

}

/* .middle .middleh1::after {
  
    content: "";
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25),
    1px 1px 2px rgba(0, 0, 0, 0.25); 
  top: -3px;
  display: block;
  width: 449px;
  position: relative;
  left: 0em;
  justify-self: center;
  background: #4facfe;
  height: 4px;
  border-radius: 10px;

} */

/* card start------------ */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* color: red; */
  align-items: center;
  /* margin: 80px; */
  grid-gap: 30px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* min-height: 100vh; */
  height: 100%;
  width: 90%;
}

.grid article {
  background-color: #eee3e8;
  width: 250px;
  color: black;
  border: none;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.grid article:hover {
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(10px);
}

.grid article img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.grid .text {
  padding: 0 20px 20px;
}

.grid .text h1 {
  text-transform: uppercase;
}

.grid .text p {
  padding: 5px;
}

.grid .text button {
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 20px;
  background-color: #ef6f6c;
  border: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.speed {
  position: relative;
  /* top: 10px; */
  height: 50px;
  bottom: 5px;
  /* top: 5px; */
  /* background: white; */
}

.press {
  background-color: rgb(255, 255, 255);
  line-height: 50px;
  display: flex;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 3px 3px 7px rgba(255, 255, 255, 0.25),
    inset -3px -3px 10px rgba(0, 0, 0, 0.5);
}

.press .h1 {
  width: 170px;
  background-color: rgb(48, 39, 39);
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 6px 12px black;
  padding: 1px 10px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    inset 3px 3px 7px rgba(255, 255, 255, 0.25),
    inset -3px -3px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.01em;
  word-spacing: 3px;
}

.press .p {
  display: block;
  /* line-height: 50px; */
  height: 50px;
  color: black;
  font-weight: 600;
  font-style: italic;
  font-size: 1.1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* post card */
/* .rowcard{
    display: grid;
    grid-template-rows: repeat(4,.1fr) ;
    min-height: 1200px;
    grid-gap: 30px;
  } */
.postbody {
  /* background: #f8f8f8; */
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 0 1.5rem;
}

.postcard {
  width: 100%;
  max-width: 68rem;
  height: 350px;
  padding: 5rem;
  background-color: #fafeff;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  border-radius: .8rem;
  transition: all .5s;
}

.postcard:hover {
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(5px);
}

.postbody img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .8rem;
  display: block;

}

.post-img::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .8rem;
  background: linear-gradient(to right, rgba(79, 172, 254, 0.254),
      rgba(0, 241, 245, 0.22));
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45),
    inset 3px 3px 7px rgba(255, 255, 255, 0.55),
    inset -3px -3px 10px rgba(0, 0, 0, 0.2);

}

.post-img {
  min-width: 15rem;
  max-width: 15rem;
  transform: translateX(-8rem);
  height: 15rem;
}

.post-date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: .3rem 0;
}

.post-title {
  font-size: 2.5rem;
  margin: .5rem 0 1rem;
  text-transform: uppercase;
  color: #4facfe;
}

.post-text {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.post_readmore {
  display: inline-block;
  padding: .9rem .9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600px;

  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: .8rem;
  text-decoration: none;

}

.post_readmore:hover {
  background-image: linear-gradient(to right, #4facfe 100%, #00f2fe 0%);

}